:root {
  --debian-red: #a80030;
  --peach: #d34e36;
  --peach-accent: #e07f47;
  --light-pink: #fff1f1;
  --off-white: #fcfbf8;
  --bg-dark-mode: #111;
  --bg-dark-mode-accent: #181818;
}

* { /* CSS reset https://www.freecodecamp.org/news/html-page-width-height/ */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  background-color: var(--light-pink);
  min-height: 100vh;
}

header {
  position: fixed;
  padding-top: 12px;
  background-color: var(--off-white);
  height: 60px;
  width: 100vw;
  border-bottom: medium solid var(--debian-red);
  z-index: 2;
}

article {
  padding: 80px 10vw 0 20vw;
  overflow-x: hidden;
  max-width: 80%;
  margin-left: 9vw;
}

section {
  padding: 0.25em;
}

section * {
  padding-bottom: 1em;
  display: block;
}

section img {
  margin: auto;
  display: block;
  background-color: var(--light-pink);
  padding-bottom: 0;
}

section p {
  text-indent: 18px;
}

.noindent {
  text-indent: 0;
}

pre {
  overflow: scroll;
  text-align: center;
  padding: 0.5em;
  border-radius: 1em;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

h1, h2, h3, hr {
  color: var(--debian-red);
}

h1 {
  font-size: 1.75em;
}

ol {
	padding-left: inherit;
}

.center-p {
  text-align: center;
}

.center-div {
  padding: 80px 12vw;
  max-width: 80%;
  margin-left: 9vw;
}

.table-of-content {
  padding: 80px 16vw;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  height: 2em;
  width: 2em;
  top: 12px;
  left: 1.5vw;	
}

.bars-icon {
  position: absolute;
  height: 2em;
  width: 2em;
  top: 12px;
  right: 3vw;
  
}

.nav-bars-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: auto;
  width: 128px;
  top: 48px;
  right: 1.5vw;
  border: medium groove var(--debian-red);
  border-radius: 9px;
  background-color: var(--off-white);
  padding: 12px;
  gap: 12px;
}

.book-page {
  display: flex;
}

.chapter-li {
	align-self: flex-start;
  padding: 0.5em 0 0 12px;
  font-size: 1.25em;
}

.section-sublist {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: inherit;
	padding-left: 0.5em;
}

/* Adapted from https://www.w3schools.com/howto/howto_js_sidenav.asp */
.sidebar-nav {
  height: 100%;
  width: 21vw;
  padding-top: 80px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  background-color: var(--off-white);
  border-right: thick groove var(--debian-red);
  list-style-position: inside;
}

.sidebar-li {
  background-color: var(--peach);
  font-size: large;
  text-indent: 10px;
  border-radius: 4px;
  padding: 4px 0;
  margin: 12px 4px;
}

.selected {
  background-color: var(--peach-accent);
  border-radius: 0 0 4px 4px;
  font-size: medium;
}

.sublist-li {
  padding: 4px 6px;
  margin-bottom: 4px;
  text-decoration: none;
}

.sublist-li a {
  text-decoration: none;
}

#chapter-list {
  align-self: center;
	display: flex;
	flex-direction: column;
  padding-left: 7.5vw;
}

.link-btn{
  background-color: var(--peach);
  border: solid var(--debian-red);
  padding: 0.25em 0.5em;
  margin: 0.5em 2em;
  border-radius: 0.5em;
  font-size: 1.25em;
  width: 6em;
  text-align: center;
  text-decoration: none;
  color: var(--off-white);
}

.link-btn-sm {
  background-color: var(--peach);
  border: solid var(--debian-red);
  border-radius: 0.5em;
  text-align: center;
  text-decoration: none;
  color: var(--off-white);
}

.center-link-btn-div {
  margin-top: 2em;
  width: 100%;
  justify-content: center;
	display: inline-flex;
  flex-wrap: wrap;
}

#dark-mode-btn {
  color: var(--off-white);
  font-size: 1em;
}

@media (width <= 1080px) {
  .sidebar-nav {
    display: none;
    width: 60vw;
  }

  article {
    padding: 80px 8vw;
    max-width: 100%;
    margin-left: 0;
  }

  .center-div {
    max-width: 100%;
    margin-left: 0;
  }

  section img {
    display: inline-block;
  }

  .img-wrap img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.dark {
  background-color: var(--bg-dark-mode);
  color: var(--off-white);
}

.dark a:visited {
  color: var(--peach-accent);
}

.dark-accent {
  background-color: var(--bg-dark-mode-accent);
  color: var(--off-white);
}


.dark-accent a:link {
  color: var(--off-white);
  text-decoration: underline;
}

.dark-accent a:visited {
  color: var(--off-white);
  text-decoration: underline;
}