<%- include('../shared/header.ejs') %>
<div class="center-div">
  <h2>About</h2>
  <p class="center-p">
    This project is a web-hosted version of the 2001 book <a href="https://www.gutenberg.org/ebooks/6527" target="#">Debian GNU/Linux : Guide to Installation and Usage by Goerzen and Othman</a>.
    You can find a copy for free on Project Gutenberg. This project was created by Joseph Berg, and you can find his GitHub profile <a href="https://github.com/bojerg" target="#">here</a>.
    The source code for this project is also hosted <a href="https://github.com/it-sd-sqc/sqc-project-bojerg/tree/main" target="#">on GitHub</a>.
  </p>
  <div class="center-link-btn-div">
    <a class="link-btn" href="/">Home</a>
  </div>
</div>
<%- include('../shared/footer.ejs') %>