<%- include('../shared/header.ejs') %>
<div class="center-div">
  <h2>Welcome</h2>
  <p class="center-p">Linux is essential to modern computing AND fun to learn! 
    Dive into the 2001 guide for the popular Linux distribution Debian to learn
    about core Linux functionality and perhaps have a chuckle along the way when
    observing just how far technology has come in the last 20 or so years.
  </p>
  <div class="center-link-btn-div">
    <a class="link-btn" href="/book/1">Start</a>
    <a class="link-btn" href="/book">Chapters</a>
    <a class="link-btn" href="/about">About</a>
  </div>
</div>
<%- include('../shared/footer.ejs') %>